/* 
Author: Devin Davis
Date: Novemeber 12th, 2020
File: index.html 
*/

/* Univeral Layout styles*/
.page-section {
    align-items: center;
    justify-items: center;
    height: 100%;
    width: 90%;
    margin: auto;
    padding: 14px;
    padding-bottom: 74px;
    column-gap: 14px;
    row-gap: 14px;
}

.page-section h1 {
    font-size: 40px;
    font-size: 40px;
    margin: 20px 0px 9px 0px;
}

.text-area {
    background-color: #9e5a63;
    color: white;
    padding: 14px;
    box-sizing: border-box;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.377);
    height: 100%;
}

/* intro section */
.air-lock {
    width: 100%;
    height: 100%;
    position: absolute;
    color: rgb(0, 0, 0);
    transform: translateY(0vh);
    transition: transform .5s ease-in-out;
    z-index: 9999;
}

.lock-top {
    transform: translateY(-100vh);
}

.piano {
    display: flex;
    gap: 5px;
    width: 100%;
    padding: 0px 14px 14px 14px;
    position: relative;
    transform: translatey(-50vh);
    transition: transform 1s ease-in-out;
}

.open-piano {
    transform: translatey(0vh);
}

.key-set {
    position: relative;
    flex-basis: 100px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    gap: 5px;
}


.key-set .key {
    background-color: white;
    flex-basis: 100px;
    flex-grow: 2;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.key-set .chopstick {
    background-color: black;
    flex-basis: 100px;
    flex-grow: 1;
    position: absolute;
    z-index: 10000;
    width: 35%;
    height: 80%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.key-connect-set {
    position: relative;
    flex-basis: 100px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.key-connect-set, .key-set {
    display: none;
}

.key, .chopstick, .connect-chopstick {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.377);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.key-connect-set .key {
    background-color: white;
    flex-basis: 100px;
    flex-grow: 2;
}

.key-connect-set .chopstick {
    background-color: black;
    flex-basis: 100px;
    flex-grow: 1;
    position: absolute;
    z-index: 10000;
    width: 35%;
    height: 80%;
}

.key-connect-set .connect-chopstick:nth-of-type(1) {
    background-color: black;
    flex-basis: 100px;
    flex-grow:1;
    left: -17%;
    position: absolute;
    z-index: 10000;
    width: 35%;
    height: 80%;
  
}

.key-connect-set .connect-chopstick:last-of-type{
    background-color: black;
    flex-basis: 100px;
    flex-grow: 1;
    right: -17%;
    position: absolute;
    z-index: 10000;
    width: 35%;
    height: 80%;
}


#intro {
    display: grid;
    grid-template-rows: 1fr 1.5fr;
    height: 100%;
}

#intro-text {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-color: #9e5a63;
    padding: 40px 40px 74px 40px
}

#intro-text h1 {
    font-size: 50px;
    margin-bottom: 30px;
    color: #f5f5f5;
}

/* Navigation */
.main-nav {
    display: flex;
    position: fixed;
    bottom: 0px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    transition: top 1s;
    height: 60px;
    transition: backgroundColor 3s;
    z-index: 10000;
    background-color: #314455;
    overflow: hidden;
}

.main-nav img {
    width: 60px;
    height: 60px;
    border: 5px solid #314455
}

.back-nav {
    background-color: #314455;
    transition: backgroundColor 3s;
}

.nav-list {
    transition: transform 1s ease-in-out;
    transform: translateX(0%); 
}

.back-nav ul {
    transform: translateX(100%); 
}

.nav-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: #97aabd;
    column-gap: 2px;
    row-gap: 2px;
    height: 100%;

}

.nav-list > li {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #314455;
    height: 100%;
    color: white
}

.nav-list a {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
}

/* Skill section */
.skill-bubbles {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 9998;
}

.skill-bubbles div {
    position: absolute;
    background-color: #015871;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; 
    box-shadow: 4px 2px 30px black;
}

.side-nav {
    display: none;
}

/* About Section */
.about-me {
    grid-template-columns: 1fr;
    color: #f5f5f5;
}

.about-me div {
    width: 100%
}

.about-me div img {
    height: 100%;
    width: 100%;
}

/* Contact Section */
.contact-me {
    justify-items: center;
    height: 100%;
}

.contact-me form {
    font-size: 16px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.contact-me input {
    background-color: #314455c2;
    color: #f5f5f5;
    border: none;
    padding: 10px 20px;
    margin-bottom: 3px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.377);
    flex-basis: 10px;
    flex-grow: 1;
    flex-shrink: 1;
}

.contact-me textarea {
    flex-basis: 100px;
    flex-grow: 3;
    background-color: #314455c2;
    border: none;
    color: #f5f5f5;
    font-size: 16px;
    padding: 20px 15px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.377);
}

.contact-me button {
    margin-top: 14px;
    border: none;
    padding: 20px 15px;
    background-color: #97aabd;
    color: #f5f5f5;
    font-weight: bold;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.377);
}

/* Work Section */

.projects {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    gap: 14px;
}

.projects > div {
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100px;
    background-image: url(https://www.jennybeaumont.com/wp-content/uploads/2015/03/placeholder.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.377);
}

.projects > div:nth-of-type(1) {
    background-image: url("../img/ip7.png");
}

/* smartphone portrait */
@media screen and (min-width: 420px) {
    .work {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1.5fr;
    }
}

/* smartphone landscape */
@media screen and (min-width: 767px) {
    .contact-me form {
        display: flex;
        flex-direction: column;
      
    }

    .contact-me form > input {
        flex-basis: 10px;
        flex-grow: 1;
        flex-shrink: 1;
    }

    .contact-me form > input:nth-of-type(4) {
        flex-basis: 60px;
        flex-grow: 2;
        flex-shrink: 2;

    }

    .about-me div {
        height: 100%;
    }

    .key-connect-set:nth-of-type(1),
    .key-connect-set:nth-of-type(2),
    .key-set:nth-of-type(1),
     .key-set:nth-of-type(2),
     .key-set:nth-of-type(3) {
       display: flex;
   }

}

/* tablets portrait */
@media screen and (min-width: 1023px) {

    .page-section {
        grid-template-columns: 1fr 1.5fr;
        grid-template-rows: 1fr;
        align-items: start;
    }

    .main-nav {
        display: none;
    }
    .side-nav {
        display: block;
        position: fixed;
        height: 100%;
        z-index: 10000;
        width: 60px;
        background-color: #314455;

    }

    .side-nav ul {
        display: flex;
        flex-direction: column;
        height: 60%;
        width: 100%;
    }

    .side-nav li {
        width: 100%;
    }

    #piano {
        margin-left: 60px;
    }

    .key-connect-set:nth-of-type(1),
    .key-connect-set:nth-of-type(2),
    .key-set:nth-of-type(1),
     .key-set:nth-of-type(2),
     .key-set:nth-of-type(3) {
       display: flex;
   }
}

/* tablets landscape */
@media screen and (min-width: 1365px) {
   
}

/* desktop pcs */
@media screen and (min-width: 1366px) {

}